# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Database
*.db
*.sqlite

# Node / React
node_modules/
frontend/dist/
frontend/build/
.DS_Store

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/